* {
	margin: 0;
	padding: 0;
	box-sizing:
	border-box;
}

body {
	font: 13px Helvetica, Arial;
}

form {
	background: #9FB4C7;
	padding: 2px;
	position: fixed;
	bottom: 0;
	width: 100%; }

form input {
	border: 0;
	padding: 10px;
	width: 90%;
	margin-right: .5%;
}

form input:focus {
	outline: none;
}

form button {
	width: 8%;
	background: #9FB4C7;
	color: #fff;
	border: none;
}

#messages {
	float: right;
	list-style-type: none;
	margin-bottom: 60px;
	padding: 0;
	width: 85%;
	word-wrap: break-word;
}

#messages li {
	padding: 5px 10px;
}

#messages li:nth-child(odd) {
	background: #eee;
}

#typing {
	color: #000;
	background: #ffffff;
	padding: 3px;
	position: fixed;
	left: 15%;
	bottom: 38px;
	width: 85%;
	word-wrap: break-word;
}

#online {
	float: left;
	position: fixed;
	border-right: 1px solid #9FB4C7;
	height: 100vh;
	width: 100%;
	max-width: 15%;
	background: #fff;
	list-style-type: none;
	overflow: scroll;
	overflow-x: scroll;
	white-space: nowrap;
	padding-bottom: 50px;
}

#online li {
	width: 100%;
	padding: 5px 10px;
}

#online li:nth-child(odd) {
	background: #eee;
}

#container {
	visibility: hidden;
}

#loading {
	font-family: 'Yellowtail', cursive;
	position: absolute;
	width: 195px;
	top: 40%;
	left: 0;
  right: 0;
  margin: 0 auto;
	font-size: 3rem;
}

.online::before {
	content: " ";
	border-radius: 20px;
	background-color: green;
	display: inline-block;
	width: 5px;
	height: 5px;
	margin-right: 10px;
	margin-bottom: 2px;
}
